/target
/run
/flatpak/build
/flatpak/repo
/flatpak/python-deps
/flatpak/java-deps
/flatpak/cargo-sources.json
/flatpak/*.flatpak
/flatpak/source.tar.gz
/.flatpak-builder
__pycache__
.cargo
.rustup
.zsh_history
