/target
/run
/flatpak/build
/flatpak/repo
/flatpak/state
/flatpak/cargo-sources.json
/flatpak/python-sources.json
/flatpak/java-sources.json
/flatpak/*.flatpak
/flatpak/*.tar.gz
__pycache__
.cargo
.rustup
.zsh_history
